* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-secondary {
    color: #ebebeb;
    background-color: #ff8a84;
    border-color: #ff8a84;
}

.btn-secondary:hover {
    color: #ebebeb;
    background-color: #ff5d55;
    border-color: #ff5d55;
}

.card {
    background-color: #232323;
    text-align: center;
    justify-content: center;
    border: transparent;
    display: flex;
    flex-direction: row;
    margin: 25px 20px;
}

.card-img-top {
    align-self: center;
}

.card-body {
    padding: 2px;
    word-wrap: break-word;
}

.first-slide-ev {
    display: grid;
    grid-template: 50% 50%/50% 50%;
}

.second-slide-ev {
    display: grid;
    grid-template: 50% 50%/50% 50%;
}

.events-car-small {
    display: none;
}

.container {
    max-width: 1020px;
    margin: auto;
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    text-align: center;
    align-content: center;
    margin: 10px 0;
}

nav {
    background-color: #232323;
    font-family: "Unica One";
}

p {
    margin: 0;
}

h1 {
    font-family: "Unica One";
    font-size: 48px;
    color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

iframe {
    max-width: 100%;
    height: 389.02px;
}

figure {
    display: block;
}

form {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 42% 1fr;
    grid-template-rows: 35px 35px 1fr 35px;
    margin-bottom: 10px;
}

input {
    margin-right: 150px;
}

textarea[name="user-message"] {
    margin-right: 150px;
    height: 150px;
    font-family: "Arial";
}

#contact button[type="submit"] {
    grid-column: span 2;
    width: 153.336667px;
    display: grid;
    justify-self: end;
    background-color: #ff5d55;
    border-radius: 2px;
    border-width: 0px;
    font-family: "Unica One";
    color: #ebebeb;
    font-size: 18px;
    margin-right: 293.333px;
    transition-duration: 0.4s;
    border-color: transparent;
}

#contact button[type="submit"]:hover {
    background-color: #ff8a84;
    cursor: pointer;
}

label {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 18px;
    font-family: "Unica One";
    color: #ebebeb;
    margin-right: 150px;
}

footer {
    background-color: #232323;
    font-family: "Unica One";
    color: #ebebeb;
    margin: 10px 0;
    display: grid;
    grid-template: 40px / 1fr;
}

small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

a:visited {
    color: #ebebeb;
    text-decoration: none;
}

a:link {
    color: #ebebeb;
    text-decoration: none;
}

a:hover {
    color: #ff5d55;
}

#music {
    width: 100%;
}

#contact {
    display: grid;
    grid-template: 80px 1fr/ 1fr;
    background-color: #232323;
}

#contact h1 {
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#gallery img {
    width: 98.5714286%;
    margin: 0 10px;
}

#events img {
    width: 36%;
    box-shadow: 6px 6px;
    align-self: flex-start;
}

#events ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: self-start;
    justify-content: center;
    margin-left: 10px;
    font-family: "Unica One";
    color: #ebebeb;
    font-size: 23px;
    margin-left: 0;
}

#events article {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#events h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#events a:link {
    color: #ff8a84;
}

#events a:hover {
    color: #ff5d55;
}

#events a:visited {
    color: #ff8a84;
}

#events-car-small {
    display: none;
}

#follow img {
    max-width: 50%;
}

#follow a {
    float: right;
    font-family: "Unica One";
    
}

#events {
    display: grid;
    grid-template:  80px 1fr/1fr;
    background-color: #232323; 
    margin-bottom: 10px;
}

#follow {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    background-color: #232323; 
    margin-bottom: 10px;
    grid-row-gap: 10px;
}

.loader {
    border: 30px solid #7a7a7a;
    border-radius: 50%;
    border-top: 30px solid #ff5d55;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid #7a7a7a;
    border-radius: .3rem;
    outline: 0;
    background-color: #232323;
    color: #ebebeb;
    font-family: "Unica One";
    height: 250px;
    font-size: 25px;
}

.modal-header {
    border-bottom: 1px solid #7a7a7a;
}

.modal-body p {
    display: flex;
    justify-content: space-around;
    color: #ebebeb;
}

.modal-footer {
    border: transparent;
    display: flex;
    justify-content: space-around;
}

#loader .modal-content {
    border: transparent;
    background-color: transparent;
}

.container {
    max-width: 1020px;
    margin: auto;
    display: block;
}

.modal .fade {
    max-width: 1020px;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 93, 85, 0.5);
}

.music-gallery {
    display: grid;
    grid-template: 1fr / 30% 70%;
    margin-bottom: 4px;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.about {
    display: grid;
    grid-template: 100px 500px / 1fr;
    background-image: url("../img/aboutus-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.links {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-row-gap: 10px;
    margin: 10px 0;
}

.on-hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 50px 50px 50px;
    background-color: rgba(35,35,35,0.9);
}

.about p {
    font-family: "Unica One";
    font-size: 30px;
    color: #ebebeb;
    padding: 0 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 40px;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff5d55;
}

.navbar-light .navbar-nav .nav-link {
    color: #ebebeb;
    padding-right: 24px;
}

.navbar {
    font-size: 24px;
    color: #ebebeb;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.bg-light {
    background-color: #232323!important;
}

.about div {
    text-align: center;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 5px;
    cursor: pointer;
    background-color: #000\9;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators {
    bottom: 0;
}

section.about:hover div.on-hover {
    transition: 2.5s; 
    opacity: 1;
}

section.about div.on-hover {
    opacity: 0;
    transition: 2.5s ease;  
    animation: fadeIn ease-in 0.5;
	animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 3.5s;
}

ol {
    margin-bottom: 5px;
}

@media (max-width: 1030px) {
    
    .music-gallery {
        display: block;
    }
    
    iframe {
        width: 100%;
        height: 180px;
    }
    
    #gallery img {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 991px) {
    
    .navbar {
        margin-bottom: 0;
    }
    
    section.about div.on-hover {
        opacity: 1;
    }

    .navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 0;
    }
    
    .navbar-light .navbar-nav .nav-link {
        padding-right: 0;
        padding-bottom: 10px;
    }

    .bg-light {
        background-color: #fff!important;
    }
    
    .collapse.show {
        display: block;
        z-index: 10;
        background-color: #232323;
        margin-bottom: 10px;
    }
    
    .navbar-light .navbar-toggler {
        color: #232323;
        border-color: #fff;
        padding: 0;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .nav-link {
        padding: 0;
    }

    #gallery {
        margin-top: 6px;
    }

    #events {
        margin-top: 10px;
    }
    
@media (max-width: 791px) {

    header {
        display: block;
    }
    
    h1 {
        font-family: "Unica One";
        font-size: 38px;
        color: #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body {
        margin: auto;
        max-width: 788px;
        border: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    form {
        display: block;
    }
    
    label {
        display: none;
    }
    
    input, textarea {
        display: flex;
        width: 80%;
        align-content: center;
        margin: auto;
        margin-bottom: 10px;
        height: 30px;
    }
    
    textarea[name="user-message"] {
        margin: auto;
        margin-bottom: 10px;
    }
    
    #contact button[type="submit"]{
        margin: auto;
        margin-bottom: 10px;
        width: 50%;
        border-radius: 2px;
        border: transparent;
    }
    
    #contact button[type="submit"]:hover {
        background-color: #ff5d55;
    }
    
    section.about div.on-hover {
        opacity: 1;
    }
    
    #events ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        font-family: "Unica One";
        color: #ebebeb;
        font-size: 10px;
        width: 100%;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    
    .card {
        background-color: #232323;
        text-align: center;
        justify-content: center;
        border: transparent;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        position: relative;
        margin: 0;
    }
    
    small {
        margin: auto;
        justify-content: space-around;
    }
    
    .about {
        display: grid;
        grid-template: 100px 350px / 1fr;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 0;
    }
    
    .about a {
        color: #ff5d55;
        text-decoration: none;
    }
    
    .on-hover {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 30px 30px 30px;
        background-color: rgba(35,35,35,0.9)
    }
    
    .about p {
        font-family: "Unica One";
        font-size: 23px;
        color: #ebebeb;
    }
    
    .about h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    
    #events {
        display: grid;
        grid-template: 70px 1fr/1fr;
    }
    
    .first-slide-ev {
    display: grid;
    grid-template: 1fr/repeat(4, 25%);
    }

    .second-slide-ev {
        display: grid;
        grid-template: 1fr/repeat(4, 25%);
    }
    
    #events img {
        width: 80%;
        align-self: center;
    }
    
    #events h1 {
        grid-column-end: 5;
    }
    
    #events article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #contact {
        display: grid;
    }
    
    #follow {
        display: block;
    }
    
    #follow h1 {
        font-size: 30px;
    }
    
    #follow .text {
        display: none
    }
    
    #follow a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Unica One";
        width: 150px;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .links {
        display: flex;
        justify-content: center;
    }
    
}

@media (max-width: 570px) {
    .about p {
        font-size: 18px;
    }
    
    iframe {
        height: 130px;
    }
}

@media (max-width: 400px) {
    
    #events-car-small {
        display: block;
    }
    
    .first-slide-ev-sm {
        display: grid;
        grid-template: 1fr/50% 50%;
    }
    
    .second-slide-ev-sm {
        display: grid;
        grid-template: 1fr/50% 50%;
    }
    
    .third-slide-ev-sm {
        display: grid;
        grid-template: 1fr/50% 50%;
    }
    
    .fourth-slide-ev-sm {
        display: grid;
        grid-template: 1fr/50% 50%;
    }
    
    h1 {
        font-family: "Unica One";
        font-size: 30px;
        color: #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    iframe {
        height: 120px;
    }
        
    small {
        margin: auto;
        justify-content: space-around;
    }
    
    .about {
        display: grid;
        grid-template: 70px 350px / 1fr;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 0;
    }
    
    .about a {
        color: #ff5d55;
        text-decoration: none;
    }
    
    #follow {
        margin-top: 0;
    }
    
    #gallery img {
        margin-bottom: 0;
        margin-top: 7px;
    }
    
    .about p {
        font-family: "Unica One";
        font-size: 14px;
        color: #ebebeb;
    }
    
    .about h1 {
        font-size: 32px;
    }
    
    #events-car {
        display: none;
    }
    
    #music {
        margin-bottom: -10px;
    }
}