* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1020px;
    margin: auto;
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    display: grid;
    grid-template: 50px 1fr/1fr;
    grid-row-gap: 10px;
    text-align: center;
    align-content: center;
    margin: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #232323;
    text-align: center;
    font-family: "Unica One";
}

h1 {
    font-family: "Unica One";
    font-size: 48px;
    color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    max-width: 100%;
    height: 388.13px;
}

figure {
    display: block;
}

form {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 42% 1fr;
    grid-template-rows: 35px 35px 1fr 35px;
    margin-bottom: 10px;
}

input {
    margin-right: 150px;
}

textarea[name="user-message"] {
    margin-right: 150px;
    height: 150px;
    font-family: "Arial";
}

input[type="submit"] {
    grid-column: span 2;
    width: 153.336667px;
    display: grid;
    justify-self: end;
    background-color: #ff5d55;
    border-radius: 4px;
    border-width: 0px;
    font-family: "Unica One";
    color: #ebebeb;
    font-size: 18px;
    margin-right: 293.333px;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: #ff8a84;
    cursor: pointer;
}

label {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 18px;
    font-family: "Unica One";
    color: #ebebeb;
    margin-right: 150px;
}

footer {
    background-color: #232323;
    font-family: "Unica One";
    color: #ebebeb;
    margin: 10px 0;
    display: grid;
    grid-template: 40px / 1fr;
}

small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

a:visited {
    color: #ebebeb;
    text-decoration: none;
}

a:link {
    color: #ebebeb;
    text-decoration: none;
}

a:hover {
    color: #ff5d55;
}

#music {
    width: 100%;
}

#contact {
    display: grid;
    grid-template: 80px 1fr/ 1fr;
    background-color: #232323;
}

#contact h1 {
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#gallery img {
    width: 98.5714286%;
    margin: 0 10px;
}

#events img {
    width: 100%;
    box-shadow: 6px 6px;
}

#events ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: self-start;
    justify-content: center;
    margin-left: 10px;
    font-family: "Unica One";
    color: #ebebeb;
    font-size: 30px;
}

#events article {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#events h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#events a:link {
    color: #ff8a84;
}

#events a:hover {
    color: #ff5d55;
}

#events a:visited {
    color: #ff8a84;
}

#follow img {
    max-width: 50%;
}

#follow a {
    float: right;
    font-family: "Unica One";
    
}

#events {
    display: grid;
    grid-template:  60px 1fr 1fr/1fr 1fr;
    background-color: #232323; 
    margin-bottom: 10px;
}

#follow {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    background-color: #232323; 
    margin-bottom: 10px;
    grid-row-gap: 10px;
}

.music-gallery {
    display: grid;
    grid-template: 1fr / 30% 70%;
    margin-bottom: 10px;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.about {
    display: grid;
    grid-template: 100px 500px / 1fr;
    background-image: url("../img/aboutus-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.links {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-row-gap: 10px;
    margin: 10px 0;
}

.on-hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 50px;
    background-color: rgba(35,35,35,0.9);
}

.about p {
    font-family: "Unica One";
    font-size: 30px;
    color: #ebebeb;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 40px;
    font-size: 24px;
}

.about div {
    text-align: center;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section.about:hover div.on-hover {
    transition: 2.5s; 
    opacity: 1;
}

section.about div.on-hover {
    opacity: 0;
    transition: 2.5s ease;  
    opacity: 0.5 \9; 
    animation: fadeIn ease-in 0.5;
	animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 3.5s;
}

@media (max-width: 1030px) {
    .music-gallery {
        display: block;
    }
    
    iframe {
        width: 100%;
        height: 270px;
    }
}
    
@media (max-width: 788px) {
    
    body {
        margin: auto;
    }
    
    form {
        display: block;
    }
    
    label {
        display: none;
    }
    
    input, textarea {
        display: flex;
        width: 80%;
        align-content: center;
        margin: auto;
        margin-bottom: 10px;
        height: 30px;
    }
    
    textarea[name="user-message"] {
        margin: auto;
        margin-bottom: 10px;
    }
    
    input[type="submit"]{
        margin: auto;
        margin-bottom: 10px;
        width: 50%;
    }
    
    #events {
        display: block;
    }
    
    #contact {
        display: grid;
    }
    
    #follow {
        display: block;
    }
    
    #follow h1 {
        font-size: 30px;
    }
    
    #follow .text {
        display: none
    }
    
    #follow a {
        margin-bottom: 10px;
        display: block;
        text-align: center;
        font-family: "Unica One";
    }
    
    .links {
        display: flex;
        justify-content: center;
    }
    
    .wrapper {
        margin: auto;
        display: block;
    }
}
