* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template: 50px 1fr/1fr;
    grid-row-gap: 10px;
    text-align: center;
    align-content: center;
    margin: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #232323;
    text-align: center;
    font-family: "Unica One";
}

h1 {
    font-family: "Unica One";
    font-size: 48px;
    color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    max-height: 388.13px;
}

figure {
    display: block;
}

form {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 42% 1fr;
    grid-template-rows: 35px 35px 1fr 35px;
    margin-bottom: 10px;
}

input {
    margin-right: 150px;
}

textarea[name="user-message"] {
    margin-right: 150px;
    height: 150px;
    font-family: "Arial";
}

input[type="submit"] {
    grid-column: span 2;
    width: 153.336667px;
    display: grid;
    justify-self: end;
    background-color: #ff5d55;
    border-radius: 4px;
    border-width: 0px;
    font-family: "Unica One";
    color: #ebebeb;
    font-size: 18px;
    margin-right: 293.333px;
}

label {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 18px;
    font-family: "Unica One";
    color: #ebebeb;
    margin-right: 150px;
}

footer {
    background-color: #232323;
    font-family: "Unica One";
    color: #ebebeb;
    margin: 10px 0;
    display: grid;
    grid-template: 40px / 1fr;
}

small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

#music {
    width: 100%;
}

#contact {
    display: grid;
    grid-template: 80px 1fr/ 1fr;
    background-color: #232323;
}

#contact h1 {
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#gallery img {
    width: 98.5714286%;
    margin: 0 10px;
}

#events img {
    width: 50%;
}

#events ul {
    float: right;
}

#events article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

#events h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#follow figurecaption {
    float: right;
}

#follow img {
    max-width: 50%;
}

#follow a {
    float: right;
}

#events {
    display: grid;
    grid-template:  60px 1fr 1fr/1fr 1fr;
    background-color: #232323; 
    margin-bottom: 10px;
}

#follow {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    background-color: #232323; 
    margin-bottom: 10px;
    grid-row-gap: 10px;
}

.music-gallery {
    display: grid;
    grid-template: 388.13px / 300px auto;
    margin-bottom: 10px;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.about {
    background-image: url("../img/aboutus-background.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.links {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-row-gap: 10px;
    margin: 10px 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    display: inline-block;
    padding: 20px 30px;
    font-size: 24px;
}

.about div {
    text-align: center;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

