* {
    background-color: #232323;
    font-family: "Unica One";
    color: #ebebeb;
}

img {
    width: 500px;
}

[lang="uk"] {
    font-family: 'Poiret One';
}

[lang="ru"] {
    font-family: 'Poiret One';
}

.wrapper {
    max-width: 1020px;
    margin: auto;
}

body {
    body {
    max-width: 1020px;
    margin: auto;
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
}
}

