* {
    background-color: #232323;
    font-family: "Unica One";
    color: #ebebeb;
}

img {
    width: 500px;
    height: 350px;
}

[lang="uk"] {
    font-family: 'Poiret One';
}

[lang="ru"] {
    font-family: 'Poiret One';
}